[DesktopEntry]
Name=MinesTrix
Comment=A privacy focused social media based on MATRIX
Type=application
Terminal=False
Exec=minestrix
Categories=SocialMedia;