[DesktopEntry]
Name=MinesTrix
Comment=A privacy focused social media based on MATRIX
Categories=InstantMessaging;
Type=Application
Terminal=false
Exec=minestrix
Categories=SocialMedia;